*.bam
*.bam.bai
*.bed
*.bedgraph
*.canu/
*.depth
*.fa
*.fa.fai
*.fa.gz
*.fasta
*.fastq
*.flye/
*.fq.gz
*.gfa
*.gv
*.id
*.links.scaffolds
*.log
*.mmi
*.orig
*.paf.gz
*.path
*.pdf
*.png
*.sam.gz
*.stamp
*.svg
*.tbl
*.time
*.tsv
*.txt
*.unicycler-polish/
*.unicycler/
*.vcf.gz
*.vcf.gz.stats
data/
notes/

# BWA
*.fa.amb
*.fa.ann
*.fa.bwt
*.fa.pac
*.fa.sa

!Makefile.gv
!Makefile.gv.pdf
!Makefile.gv.png
!Makefile.gv.svg
!pipeline.gv
!pipeline.gv.pdf
!pipeline.gv.png
!pipeline.gv.svg
