*.fa
*.fai
*.fsa
*.gb
*.gbf
*.gbk
*.gene
*.gff
*.gff2
*.html
*.log
*.maker.output
*.md
*.orig
*.pdf
*.pep.report
*.png
*.ps
*.sqn
*.tbl
*.tsv
.Rhistory
.Rproj.user
NC_*
RM_*
blastdb
figure/
prokka/
rnammer/

# BWA
*.amb
*.ann
*.bwt
*.pac
*.sa

# GenomeTools
*.fa.des
*.fa.esq
*.fa.md5
*.fa.ois
*.fa.sds
*.fa.ssp

# Infernal
*.clanin
*.cm
*.cm.i1f
*.cm.i1i
*.cm.i1m
*.cm.i1p
*.infernal
*.stk

# RepeatModeler
*.nhr
*.nin
*.nnd
*.nni
*.nog
*.nsq
*.translation

# tbl2asn
*.discrep
*.val

20??-??-??T*
